$color-primary: #2c2b2b;
$color-primary-grey-dark: #353434;
$color-primary-medium: #5f5a5a;
$color-primary-light: #948d8d;

$color-secondary: whitesmoke;

$color-tertiary: rgb(49, 123, 126);
$color-tertiary-light: rgb(81, 180, 184);

$color-text: whitesmoke;

$gradient-primary: whitesmoke;
$gradient-secondary: black;

$color-form-input-invalid: rgb(155, 47, 47);
$color-form-input-valid: rgb(99, 155, 99);
