header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

.navigationList {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
}

.listLink {
    display: inline-block;
    margin-right: 1rem;
}