.switchBtn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 0.7rem;
	line-height: 1.42857;
	background: rgb(44, 43, 43) !important;
	color: whitesmoke !important;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 0.8px;
	transition: all 0.3s;
	border: none !important;
}

.switchBtn:focus {
	outline: 0;
}

.switchBtn:hover {
	background: whitesmoke !important;
	color: rgb(44, 43, 43) !important;
	outline: none !important;
}

.switchBtnActive {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 0.7rem;
	line-height: 1.42857;
	background: whitesmoke !important;
	color: rgb(44, 43, 43) ke !important;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 0.8px;
	transition: all 0.3s;
	border: none !important;
}
