@import '../styling/colors.scss';

.menuContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 4rem;
	right: 8rem;
	transition: 1s;
}

.menuList {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transition: 0.4s;

	a {
		color: $color-text;
		text-decoration: none; /* no underline */

		&:hover {
			color: $color-primary;
			text-decoration: underline;
			transform: translateY(-0.5rem);
		}
	}
}

.menuButton {
	text-decoration: none; /* no underline */
	background-color: transparent;
	border: none;
	outline: none;
	margin-bottom: 1rem;

	img {
		height: 3rem;

		&:hover {
			transform: translateY(0.2rem);
		}
	}
}
